# Generated pipeline artefacts
# /output/durham/kde/kde_density.tif
# /output/kingman/kde/kde_density.tif
# /output/hubbard_brook/kde/kde_density.tif
# /output/oxbow/kde/kde_density.tif
output/


# Julia local / build artefacts
/LocalPreferences.toml
*.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
data/

# OS cruft
.DS_Store
